<!doctype html>
<html lang="nl">

<head>
    <%- include('layout/head'); -%>
</head>

<body class="filter-page">
    <%- include('layout/header'); -%>

        <main class="filter-page">
            <!-- filter page -->
            <section>
                <h2>
                    <%= title %>
                </h2>
            </section>

            <form action="/searchChef/filterChef" method="post">
                <div>
                    <fieldset>
                        <!-- lijst met categorieen voorkeur opgeven-->
                        <legend>Gender:</legend>
                        <% gender.forEach(function(genderSearch){ %>
                            <input type="checkbox" name="gender" value="<%= genderSearch %>" id="<%= genderSearch %>">
                            <label for="<%= genderSearch %>">
                                <%= genderSearch %>
                            </label><br>
                            <% }) %>
                    </fieldset>

                    <fieldset>
                        <!-- lijst met categorieen voorkeur opgeven-->
                        <legend>Leeftijd:</legend>
                        <% ages.forEach(function(leeftijd){ %>
                            <input type="checkbox" name="ages" value="<%= leeftijd %>" id="<%= leeftijd %>">
                            <label for="<%= leeftijd %>">
                                <%= leeftijd %>
                            </label><br>
                            <% }) %>
                    </fieldset>

                    <fieldset>
                        <!-- lijst met categorieen voorkeur opgeven-->
                        <legend>Skills:</legend>
                        <% skills.forEach(function(skillsSearch){ %>
                            <input type="checkbox" name="skills" value="<%= skillsSearch %>" id="<%= skillsSearch %>">
                            <label for="<%= skillsSearch %>">
                                <%= skillsSearch %>
                            </label><br>
                            <% }) %>
                    </fieldset>

                    <fieldset>
                        <!-- lijst met categorieen voorkeur opgeven-->
                        <legend>Sushi gerechten:</legend>
                        <% foodSushi.forEach(function(foodSearch){ %>
                            <input type="checkbox" name="foodSushi" value="<%= foodSearch %>" id="<%= foodSearch %>">
                            <label for="<%= foodSearch %>">
                                <%= foodSearch %>
                            </label><br>
                            <% }) %>
                    </fieldset>
                </div>

                <button>Zoek een sushi chef-kok</button>
            </form>

        </main>

        <!-- footer-->
        <%- include('layout/footer'); -%>
            <script src="scripts/script.js"></script>
</body>

</html>